body {
  background-color: #404040;
  font-family: GothamSSm, Helvetica, Arial, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: #f05a28;
}

h1 {
  text-transform: uppercase;
}

button {
  border: none;
  color: white;
  padding: 2rem;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

div.results {
  border: 1px solid gray;
}

.bg-orange {
  background: #f05a28;
}

.bg-blue {
  background: #2a9fbc;
}

.bg-green {
  background: #9bc850;
}

.bg-purple {
  background: #675ba7;
}

.orange {
  color: #f05a28;
}

.blue {
  color: #2a9fbc;
}

.green {
  color: #9bc850;
}

.purple {
  color: #675ba7;
}

.hidden {
  display: none;
}

.waiting {
  background: #9bc850;
  position: absolute;
  top: 20%;
  height: 75%;
  width: 95%;
}
